---
interface Props {
	imagePath: string;
	filmName: string;
	filmId?: number;
	type: string;
	description: string;
	minutes: number;
	seconds: number;
}

import "@fontsource-variable/plus-jakarta-sans";
import FilmPage from "../pages/[filmName].astro";

const { imagePath, filmName, filmId, type, description, minutes, seconds } =
	Astro.props;
---

<div class="imageWrapper">
	<a href={`/${filmName}`} class="posterLink">
		<img class="poster" src={`/src/images/${imagePath}`} alt={filmName} />
		<div class="overlay">
			<div class="internalOverlay">
				<div class="info">
					<span class="FilmData">
						<span class="filmName">{filmName}</span>
						<span class="dotDivider">•</span>
						<span class="type">{type}</span>
					</span>

					<div class="time">
						<span class="minutes"
							>{minutes}:{seconds === 0 ? "00" : seconds}</span
						>
					</div>
				</div>
				<div class="description">
					<div>{description}</div>
				</div>
			</div>
		</div>
	</a>
    <!-- Mobile-specific name and details on one line -->
        <div class="mobile-info">
            <span class="filmName-mobile">{filmName}</span>
            <span class="dotDivider-mobile">•</span>
            <span class="type-mobile">{type}</span>
            <span class="time-mobile">{minutes}:{seconds === 0 ? "00" : seconds}</span>
        </div>
</div>

<style>
	.poster {
		max-width: 100%;
		margin: 0 auto;
		display: block;
	}

	.imageWrapper {
		position: relative; /* Add this line */
		display: inline-block; /* Align to the size of the content */
		margin-bottom: 1.5em; /* Use margin instead of padding for spacing */
	}

	.imageWrapper:hover .overlay {
		opacity: 1; /* Full opacity on hover */
	}

	.overlay {
		position: absolute; /* Add this line */
		top: 0; /* Add this line */
		left: 0; /* Add this line */
		width: 100%; /* Add this line */
		height: 100%; /* Add this line */
		display: flex; /* Add this line */
		justify-content: center; /* Center the content horizontally */
		align-items: center; /* Center the content vertically */
		user-select: none; /* This will prevent text selection */
		background-color: rgba(
			0,
			0,
			0,
			0.65
		); /* Optional: Add a semi-transparent background */
		opacity: 0; /* Use opacity for transition */
		transition: opacity 0.5s ease; /* Smooth transition for opacity */
	}

	.internalOverlay {
		width: 100%; /* Ensure it takes the full width */
		display: flex; /* Use flexbox for alignment */
		flex-direction: column; /* Stack children vertically */
		justify-content: center; /* Center the content vertically */
		align-items: center; /* Center the content horizontally */
	}

	.filmName {
		font-weight: 500;
		font-size: 1em;
		padding-right: 0.2em;
	}

    .mobile-info {
    display: flex; /* Use flex to align items in a row */
    justify-content: space-between; /* Space out elements to push time to the right */
    align-items: center; /* Center items vertically */
    padding-block: 0.5em; /* Add some padding for spacing */
    display: none; /* Hide mobile-specific items by default */

}

.filmName-mobile, .time-mobile  {
    font-weight: 300;
    font-size: 0.65em;
}

.type-mobile, .dotDivider-mobile {
    font-weight: 200;
    font-size: 0.55em;
}

.time-mobile {
    margin-left: auto; /* Push the time to the far right */
}

	.type {
		font-weight: 100;
		font-size: 0.85em;
	}
	.dotDivider {
		font-weight: 100;
		font-size: 0.75em;
		padding-right: 0.2em;
	}
	.description {
		font-weight: 100;
		font-size: 0.65em;
		text-align: center; /* Center the text */
		display: inline-block; /* Make sure description is displayed as a block */
	}
	.info {
		text-align: center; /* Center the text */
		display: inline-block; /* Make sure description is displayed as a block */
		padding-bottom: 0.5em;
	}

	.info,
	.description {
		text-align: center; /* Center the text horizontally */
		width: 100%; /* Ensure they take full width of the parent */
	}

	.minutes,
	.seconds {
		font-weight: 500; /* Adjust as needed */
		font-size: 0.65em; /* Adjust as needed */
		display: inline; /* Ensure they are inline */
		margin: 0; /* Remove any margin */
		padding: 0; /* Remove any padding */
	}
	.posterLink {
		color: inherit;
		text-decoration: none;
	}

    /* Media Query for Mobile */
        @media (max-width: 768px) {
            .filmName-mobile, .type-mobile, .time-mobile, .dotDivider-mobile {
                display: inline; /* Show elements on mobile */
                padding-right: 0.4em;
            }

            .info .filmName, .info .type, .info .minutes {
                display: none; /* Hide overlay info on mobile */
            }

            .overlay {
                display: none; /* Hide overlay on mobile */
            }

            .mobile-info {
                display: flex; /* Ensure flex layout for mobile */
                flex-wrap: nowrap; /* No wrapping, keep items on one line */
            }
        }
</style>
